/*** CORES  ***/
$body-background: #E5E7EB;

// CORES
$branco: #FFFFFF;
$amarelo: #fbb500;
$laranja: #FF8000;
$laranja-escuro: #E35A24;
$vermelho: #f10d0d;
$verde: #87c142;
// CORES

// Tons de cinza
$cinza-claro: #E5E7EB;
$cinza: #A5A8B5;
$cinza-medio: #666666;
$cinza-escuro: #3C3C3C;
// Tons de cinza

$texto-branco: $branco;
$texto-amarelo: $amarelo;
$texto-laranja: $laranja;
$texto-laranja-escuro: $laranja-escuro;
$texto-vermelho: $vermelho;
$texto-verde: $verde;
$texto-cinza: $cinza-medio;

$borda-cinza: $cinza-claro;
$borda-vermelho: $vermelho;
$borda-laranja: $laranja;

$modal-border-cinza: $borda-cinza;

$botao-desabilitado-opacity: 0.6;

$input-desabilitado-background: #F6F7F8;
$input-desabilitado-border: $borda-cinza;

/*** FIM CORES ***/

/*** LINE-HEIGHT  ***/

$line-height-padrao: 19px;

/*** FIM LINE-HEIGHT ***/

/*** background-tooltip-padrao  ***/

$background-tooltip-padrao: #4a4a4a;

/*** FIM background-tooltip-padrao ***/

/*** BORDER-RADIUS  ***/

$border-radius-padrao: 5px;

/*** FIM BORDER-RADIUS ***/
